/***************************/
/*        variables        */
/***************************/
:root {
  --btn-height: 2.5rem;
  --btn-width: 2.5rem;
}

/**************************/
/*        elements        */
/**************************/
body {
  height: 100vh;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background: radial-gradient(white, var(--doraemon-canvas-color-primary));
  overflow: hidden;
  display: grid;
  justify-items: center;
}
.tools {
  position: absolute;
  top: 0;
  left: 0;
}

/*********************************/
/*        color-container        */
/*********************************/
.color-palette {
  display: flex;
  flex-wrap: wrap;
}
.color {
  height: var(--btn-height);
  width: var(--btn-width);
}

.color-indicate-container {
  display: flex;
  height: var(--btn-height);
}
.color-indicator {
  height: var(--btn-height);
  width: var(--btn-width);
}
