/***************************/
/*        variables        */
/***************************/

:root {
  font-size: 16px;
  overflow: hidden;
}

/**************************/
/*        elements        */
/**************************/

body {
  height: 100vh;
  height: 100dvh;
  padding: 0;
  margin: 0;
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  overflow: hidden;
  background: radial-gradient(white, var(--doraemon-canvas-color-primary));
}

#canvas-app {
  grid-area: stack;
  justify-self: center;
}

#canvas-tool-panel {
  grid-area: stack;
}
