/***************************/
/*        variables        */
/***************************/

:root {
  --doraemon-canvas-color-primary: #15a9ff;
}

/*********************************/
/*        Doraemon's head        */
/*********************************/

.doraemon-canvas * {
  justify-self: center;
}
.doraemon-canvas {
  height: 100%;
  aspect-ratio: 0.87;
  position: relative;
  display: grid;
  grid-template:
    "." 1%
    "head" 69%
    "collar" 8.257%
    "body" 21.743%;
  transition: height 1s ease-out, transform 1s ease-out;
  overflow: hidden;
}
.dora-head {
  grid-area: head;
  grid-template-areas: "stack";
  height: 100%;
  aspect-ratio: 1.25;
  display: grid;
  align-items: end;
}
.dora-skull {
  background: var(--doraemon-canvas-color-primary);
  height: 100%;
  width: 100%;
  grid-area: stack;
  clip-path: ellipse(50% 60% at 50% 60%);
}
.dora-face {
  grid-area: stack;
  width: 84.746%;
  height: 84.746%;
  clip-path: ellipse(50% 60% at 50% 60%);
  background-color: white;
  display: grid;
  grid-template-areas: "stack";
}
.dora-eyes {
  height: 30%;
  width: 35%;
  grid-area: stack;
  margin-top: 5%;
  align-self: start;
  display: flex;
}
.dora-eye {
  height: 100%;
  width: 50%;
  position: relative;
  clip-path: ellipse(50% 50%);
  background: #dddddd;
}
.dora-eye-white {
  position: absolute;
  top: 1px;
  left: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  clip-path: ellipse(50% 50%);
  background: white;
}
.dora-eye-black {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 24%;
  width: 18%;
  clip-path: ellipse(50% 50%);
  background: #3f3e39;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.dora-eye:first-child .dora-eye-black {
  right: 10%;
}
.dora-eye:nth-child(2) .dora-eye-black {
  left: 10%;
}
.dora-face > .drawing-canvas-real,
.dora-face > .drawing-canvas-draft {
  height: 100%;
  width: 100%;
  grid-area: stack;
  background-color: transparent;
}

/***********************************/
/*        Doraemon's collar        */
/***********************************/

.dora-collar {
  height: 100%;
  aspect-ratio: 8.1;
  grid-area: collar;
  display: grid;
  grid-template-rows: 45% 55%;
}
.dora-collar-strip {
  grid-row: 1 2;
  height: 100%;
  aspect-ratio: 18;
  border-radius: 0.7rem;
  background: #d2243d;
}
.dora-collar-bell {
  grid-row: 2 3;
  height: 100%;
  aspect-ratio: 1.75;
  background: #f3e82a;
  clip-path: ellipse(50% 88% at 50% 10%);
  cursor: pointer;
}
.dora-collar-bell:hover {
  background: #f9ee30;
}
.dora-collar-bell:active {
  background: #ede224;
}

/*********************************/
/*        Doraemon's body        */
/*********************************/

.dora-body {
  height: 100%;
  aspect-ratio: 3.0381;
  grid-area: body;
  display: grid;
  grid-template-areas: "stack";
}
.dora-tummy {
  height: 80%;
  aspect-ratio: 1.22;
  clip-path: ellipse(50% 60% at 50% 35%);
  grid-area: stack;
  margin-top: 2%;
  background: white;
  display: grid;
  grid-template-areas: "stack";
}
.dora-pocket {
  height: calc(100% - 5px);
  width: calc(100% - 6px);
  clip-path: ellipse(52% 120% at 50% -30%);
  position: absolute;
  top: 2px;
  left: 3px;
  background: white;
  cursor: pointer;
}
.dora-pocket.clip-outline {
  height: 42%;
  width: auto;
  aspect-ratio: 2.13;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 40%;
  background: #ccc;
  transition: height 0.2s ease-out, top 0.2s ease-out;
  animation: dora-pocket-shaking 2.5s ease-out infinite;
}
.dora-pocket.clip-outline:hover {
  top: -5%;
  height: 50%;
}
.dora-pocket.clip-outline:active :first-child {
  background: #eee;
}
.dora-feet {
  height: 16%;
  aspect-ratio: 14;
  grid-area: stack;
  align-self: end;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.dora-foot {
  height: 100%;
  aspect-ratio: 5.5;
  clip-path: ellipse(57% 185% at 50% 180%);
  background: #fff;
  display: grid;
  align-items: end;
  cursor: pointer;
}
.dora-foot:last-child {
  transform: scaleX(-1);
}
.dora-foot-shadow {
  height: 85%;
  width: 30%;
  margin-left: 6%;
  clip-path: ellipse(250% 140% at 248% 115%);
  justify-self: start;
  position: relative;
  background: #c7cbcc;
}
.dora-foot-shadow-clip {
  height: 100%;
  width: 80%;
  clip-path: ellipse(250% 140% at 265% 120%);
  position: absolute;
  background: #fff;
  right: 0;
}
.dora-foot:hover,
.dora-foot:hover .dora-foot-shadow-clip {
  background: #b3e3ff;
}
.dora-foot:active,
.dora-foot:active .dora-foot-shadow-clip {
  background: #a3d3ef;
}

/**************************/
/*        tooltips        */
/**************************/

.dora-tooltip {
  padding: 0.3em;
  border-radius: 0.6em;
  z-index: 1;
  position: absolute;
  color: #4f4f4f;
  background: #b3e3ff;
  opacity: 0.82;
  animation: tooltip 0.6s ease-in 3s forwards;
}
/* the pointer of the tooltip */
.dora-tooltip::before {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 1rem solid;
  border-color: #b3e3ff #0000 #0000 #0000;
  content: "";
}
.dora-tooltip-download-image {
  bottom: 14%;
}
.dora-tooltip-undo {
  bottom: 5.2%;
  left: 32%;
  transform: translateX(-50%);
}
.dora-tooltip-redo {
  bottom: 5.2%;
  left: 68%;
  transform: translateX(-50%);
}
.dora-hover-tooltip {
  padding: 0.3em;
  border-radius: 0.6em;
  z-index: 1;
  position: absolute;
  transform: translateX(-50%) translateY(-40px);
  color: #5a5a5a;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease-out, display 0.3s;
  cursor: pointer;
}
.dora-hover-tooltip--active {
  opacity: 0.82;
}

@keyframes tooltip {
  100% {
    opacity: 0;
  }
}

/***************************/
/*        animation        */
/***************************/

@keyframes dora-pocket-shaking {
  80% {
    transform: none;
  }
  85% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: none;
  }
}
